In [1]:
%matplotlib inline


# Topic extraction with Non-negative Matrix Factorization and Latent Dirichlet Allocation


This is an example of applying :class:`sklearn.decomposition.NMF` and
:class:`sklearn.decomposition.LatentDirichletAllocation` on a corpus
of documents and extract additive models of the topic structure of the
corpus.  The output is a list of topics, each represented as a list of
terms (weights are not shown).

Non-negative Matrix Factorization is applied with two different objective
functions: the Frobenius norm, and the generalized Kullback-Leibler divergence.
The latter is equivalent to Probabilistic Latent Semantic Indexing.

The default parameters (n_samples / n_features / n_components) should make
the example runnable in a couple of tens of seconds. You can try to
increase the dimensions of the problem, but be aware that the time
complexity is polynomial in NMF. In LDA, the time complexity is
proportional to (n_samples * iterations).

<function fetch_20newsgroups at 0x000002897EA268B8>
Loading dataset...

TypeError: fetch_20newsgroups() got an unexpected keyword argument 'return_X_y'

In [42]:
import pandas as pd
import numpy as np
import os
%matplotlib inline
df=pd.read_csv('eBM_cleaned_data.csv')

In [43]:
df.head()

,SUPERVISOR,PROJECT_DESCRIPTION,project_id,supervisor_id,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,...,Warehousing,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project
0,Amanda Dowd,The areas that I would be interested in superv...,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,Amanda Dowd,INTRODUCTION\r\n\r\nWith increasing numbers of...,2,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Nigel Denton,If you are thinking about a project in the are...,3,159,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Des Doran,Exploring the impact of sustainable issues upo...,4,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Des Doran,This project should explore how strategic posi...,5,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
data_samples=df.PROJECT_DESCRIPTION

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
n_samples = 2000
n_features = 1000
n_components = 30
n_top_words = 20
print("Extracting tf features for LDA...")
tf_vectorizer = CountVectorizer(max_df=0.95, min_df=2,
                                max_features=n_features,
                                stop_words='english')
tf = tf_vectorizer.fit_transform(data_samples)
print("done")

Extracting tf features for LDA...
done

In [53]:
from sklearn.decomposition import  LatentDirichletAllocation

def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        message = "Topic #%d: " % topic_idx
        message += " ".join([feature_names[i]
                             for i in topic.argsort()[:-n_top_words - 1:-1]])
        print(message)
    print()


n_components = 30   
print("Fitting LDA models with tf features, "
      "n_samples=%d and n_features=%d..."
      % (n_samples, n_features))
lda = LatentDirichletAllocation(n_components=n_components, max_iter=5,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=0)

lda.fit(tf)
print(" LDA fit done")
print("\nTopics in LDA model:")
tf_feature_names = tf_vectorizer.get_feature_names()
print_top_words(lda, tf_feature_names, n_top_words)

Fitting LDA models with tf features, n_samples=2000 and n_features=1000...
 LDA fit done

Topics in LDA model:
Topic #0: disruptive radical project innovation businesses use innovations technology based term rate students economic statistics ideas process technological test highlight wider
Topic #1: ideas search based project open commerce contact optimisation seo conversion following voice rate engine topics usability website strategy mobile content
Topic #2: research project application look new warwick technical company send learning ac business technology data write applications current discuss statistics provide
Topic #3: sector student students conducted supervise exploring automotive requirements work looking company extent context innovative focus explore choose stream erp global
Topic #4: brand little bit marketing trust building research manage students project nottingham external experience student interested completing management years able number
Topic #5: enterprise resource systems based project like success topics planning years open following working factors area wide contact corporate ecommerce demonstrate
Topic #6: head technology analysis investigate supply sustainability needs work questionnaire report investigated little advent provide chains levels devices design delivery ideas
Topic #7: research projects supply chain student technology expect profile piece uk end vehicle materials want comments quota advised foundation know early
Topic #8: tbc warwick business project send examine outline mind sponsor working family problem ac idea profile looks particular uk degree solutions
Topic #9: innovation smes export product type support like uk types think 39 ready offer interested customers government organisations looking process project
Topic #10: marketing research bit students brand little project interested manage wmg able external years title hearing nottingham means academic complete make
Topic #11: business project new uk models ideas 39 com topic research ai data model innovative students idea interview based send consider
Topic #12: project students dissertation approval ethical procedures research management healthcare data supervisor used forms appropriate necessary time need msc early discuss
Topic #13: new product design introduction learning business quality research disruptive management thinking best look tools literature apply prophetic quota project practice
Topic #14: project existing needs marketing role small students website optimisation look use ideas focus based enhance company requirements engagement better understanding
Topic #15: apps devices consider mobile aspects computer include use investigate health instance provide appropriate investigates 39 mainly shopping tell area app
Topic #16: apply test technology research cost project particularly tbc availability means public thinking just uk new 39 good healthcare academic learning
Topic #17: trade growth marketing 39 china hacking project students financial dissertations years start different international successful performance working trend usually supervision
Topic #18: tbc proposal produce considered resilience relevant developed student outcomes play transformation practices 2014 implications offers modelling using large researching rate
Topic #19: evolve provides usability types cultural means project technology website markets leadership commerce products gaps ideas forecasting supply based identifying culture
Topic #20: communities advised variety challenge interviews recently advantages paper global gaps energy policy article masters opportunity cognitive learning wishes advantage statistical
Topic #21: project operations techniques strategy students products projects using aspects understanding business undertaking analysis written looking consumer automotive chain benefit structured
Topic #22: project research student data students area proposal technology business interested email 39 cv interview social management experience work use media
Topic #23: radical cyber innovations autonomous vehicles security innovation marketing disruptive tasks vehicle impact uber google investigate drive used gathering automotive companies
Topic #24: business data research management company erp use intelligence analytics commerce corporate performance systems decisions decision using change project study policies
Topic #25: seo ways offer trade don customers major recently money time work business 39 listing costs require develop contains devices outcomes
Topic #26: business particular domains common used search develop source ways financial outcome engineering services improve area methodology terms open test strategic
Topic #27: reviews consumers online trust consumer business example choice firms read focused decisions contain start evaluate research students questions allow lot
Topic #28: extent digital patterns people designed user devices threats multi community platform purpose present solutions cloud likely meet platforms fit needs
Topic #29: supply management project chain new business industry manufacturing research impact students design technology operations projects technologies future global sustainability product

In [54]:
doc_topic_dist = lda.transform(tf)
df_tatio=pd.DataFrame(doc_topic_dist)

In [55]:
df_tatio.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,...,0.000521,0.000521,0.984896,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521
1,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,...,0.000230,0.000230,0.993333,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230
2,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,...,0.002222,0.002222,0.742940,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222
3,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707
4,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707

In [41]:
df_tatio.to_csv("eBM_ratio_data.csv", index=False)

In [56]:
df_tatio["project_id"]=df["project_id"]
df_tatio["supervisor_id"]=df["supervisor_id"]
df_tatio.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,project_id,supervisor_id
0,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,...,0.984896,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,1,12
1,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,...,0.993333,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,2,12
2,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,...,0.742940,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,3,159
3,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,4,58
4,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,5,58

In [57]:
df_tatio.to_csv("eBM_ratio_data.csv", index=False)